<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Lessons APP</title>
    <!-- Import Script to run Vue-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <!--Importing the products list -->
    <script src="lesson.js"></script>
    <link rel="stylesheet" href="style.css"
</head>

<body>
    <!-- Create the DOM space for vue to run in-->
    <div id="app" >


            <h2 v-text="sitename"></h2>
            <button @click="showCheckout">
                {{ cartItemCount }}
                <span class="fa fa-cart-plus"></span> shoppingcart </button>
             
                
        </header>
        <main>
            <div v-if="showProduct" class="product">
                <div v-for="product in sortedProducts">
                <figure>
                    <img v-bind:src="product.image">
                </figure>
                 <h2>subject: {{product.subject}}</h2>
                 <p>location:{{product.location}}</p>
                <!-- The double curly brackets is the shorter version of v-text -->
                <p>Price:{{product.price}} </p>
                <p>space:{{product.availableInventory - cartCount(product.id)}}</p>
                <button v-on:click="addToCart(product)" v-if="canAddToCart(product)">Add to Cart</button>
                <button disabled="disabled"  v-else>Add to Cart</button>

                <!--Checking amount of items left and displaying messages accordingly-->
                <span v-if="product.availableInventory === cartCount(product.id)">
                    Items Not Available!
                </span>
                <span v-else-if="product.availableInventory - cartCount(product.id) < 5">
                    Only {{product.availableInventory - cartCount(product.id)}} left!
                </span>
                <span v-else>Buy now!</span>

              
                </div>
            </div>

            <!--Checkout-->
            <div v-else>
                
                
                <h2> Checkout</h2>
                <p>
                    <strong>Name:</strong>
                    
                    <input type="text"  v-model.textonly="order.Name"/>
                </p>
               
               
                <p>
                    <strong>phone:</strong>
                    <input type="number" v-model.number="order.phone"/>
                </p>
<!-- 
                <button v-on:click ="navigateTo('cart1', cart1)">view cart</button> -->

                <div v-if= true>
                    <h1>your cart</h1>
                    <div v-for="(product,index) in cart1">
                        <figure>
                            <img v-bind:src="product.image">
                        </figure>
                        <h2>subject: {{product.subject}}</h2>
                        <p>location: {{product.location}}</p>
                        
                        <!-- The double curly brackets is the shorter version of v-text -->
                        <p>Price {{product.price}} </p>
                        <button v-on:click="removeItemFromcart(index)" >remove from Cart</button>
                        
                </div>

              
               
                <!--DISPLAY OF ORDER-->
                <h2>Order Information</h2>
                <p>Name: {{order.Name}}</p>
                <p>phone: {{order.phone}}</p>
                
                <button v-on:click="put; placeOrder(cart1, order); " >Place Order</button>
            </div>
        </main>

    </div>

    <script>
          
    //Instatiate a Vue object and set some values to it
        var webstore = new Vue({
    // Link Vue to the Div with an id of app
            el: '#app',
            data: {
       
   
                page:"products",
                showProduct: true,
                sitename: 'lessons app',
                order:{
                    Name: '',
                    phone: '',

                   
                },
      
               
               
                products: [],
                cart: [],
                cart1: [] //array to store items in shopping cart
            },
           



            created: function() {
                fetch('https://backend-server2.herokuapp.com/collection/products').then(
                function (response) {
                    console.log("hello");
                    
                response.json().then(
                function (json) {
                webstore.products = json;
                })
            })
        },
                
            methods:{
                //Add to cart function which will take the product id and store it in cart
                addToCart: function(product){
                
                    console.log('testing');
                    this.cart.push(product.id);
                    index = webstore.products.findIndex( (element) => element.id ==product.id);
                    webstore.products[index].space -=1;
                    this.cart1.push(product);
                },
                sortlowest() {
                    this.ratingsinfo.sort((a,b) => a.rating > b.rating ? 1 : -1);
                },
                sorthighest(){
                    this.ratingsinfo.sort((a,b) => a.rating < b.rating ? 1 : -1);

                },
                addToCart2:(product)=> {
               app.product.spaces = app.product.spaces-1;
            },
            placeOrder(cart1, order){
                const lessonIDArray = [];
                const spaceMap = new Map();
                

                for (product in cart1) {
                    console.log(cart1[product]);
                    
                    lessonIDArray.push(cart1[product].id);
                }
                let countFunc = keys => {
                spaceMap[keys] = ++spaceMap[keys] || 1;
                }

                lessonIDArray.forEach(countFunc);

                const newOrder = {name: order.Name, phone_number:order.phone, lessonIDArray, No_of_space:spaceMap };
                fetch('https://backend-server2.herokuapp.com/collection/order'
                            , {
                            method: 'POST'
                            , // set the HTTP method as 'POST'
                            headers: {
                            'Content-Type': 'application/json'
                            , // set the data type as JSON
                            },
                            body: JSON.stringify(newOrder), // need to stringify the JSON object
                            })
                            .then(response => response.json())
                            .then(responseJSON => {
                            console.log('Success:'
                            , responseJSON);
                            });
                            alert("your order has been sent")

            },
            put(){
                console.log("webs");
                console.log(webstore.products);
                fetch("https://backend-server2.herokuapp.com/collection/_id"
                            , {
                            method: 'PUT'
                            , // set the HTTP method as 'put'
                            headers: {
                            'Content-Type': 'application/json'
                            , // set the data type as JSON
                            },
                            body: JSON.stringify(webstore.products), // need to stringify the JSON object
                            })
                            .then(response => response.json())
                            .then(responseJSON => {
                            console.log('Success: done'
                            , responseJSON);
                            });


            },
                

                removeItemFromcart(index){
                    Vue.delete(this.cart1, index);
                   

                },
                navigateTo(page, cart){
                    console.log(cart);
                    this.page = page; 
                },
                // if the variable showProduct is true, make it false and vice-versa
                showCheckout: function(){
                    console.log(this.showProduct);
                    this.showProduct = this.showProduct ? false : true;
                },
                //Method to submit the checkout form
                submitForm() {
                    alert('Your order has been submitted!')
                },
                  //Makes sure that there are enough items in the inventory.  If not we'll disable 
                //the add to cart button.
                canAddToCart: function(product){
                    return product.availableInventory > this.cartCount(product.id);
                },
                cartCount(id){
                    let count = 0;
                    for (let i = 0; i < this.cart.length; i++){
                        if (this.cart[i] === id){
                            count++;
                        }
                    }
                    return count;
                },
             
            },
            computed: {
                //Sends the value of items in the cart array to the checkout button
                cartItemCount: function(){
                    return this.cart.length || '';
                },
                filteredfilms() {
              let filter = new RegExp(this.filterText,"i")
              return this.ratingsinfo.filter(el=> el.title.match(filter))
          },
                sortedProducts(){
                    //the comparison that defines the order
                    function compare (a, b){
                        if (a.price > b.price) return 1;
                        if (a.price < b.price) return -1;
                        return 0;
                    }
                    //sort 'productArray' array and return it
                    return this.products.sort(compare);
                }
            },
            filteredItems: function () {
                    const sort = this.filter.sort;
                    const order = this.filter.direction;

                    const sortString = function (a, b, property, order) {
                        var nameA = a[property].toUpperCase();
                        var nameB = b[property].toUpperCase();

                        if (nameA < nameB) {
                            return order == "asc" ? -1 : 1;
                        }
                        if (nameA > nameB) {
                            return order == "asc" ? 1 : -1;
                        }

                        return 0;
                    }
                    console.log(sort, order);
                    if (sort == "none" && order == "none") {
                        return this.products;
                    }

                    return this.products.sort(function (lessonA, lessonB) {
                        if (["subject", "location"].includes(sort)) {
                            return sortString(lessonA, lessonB, sort, order);
                        }

                        return order == "des" ? lessonB[sort] - lessonA[sort] : lessonA[sort] - lessonB[sort];
                    });
                },
        });
    </script>
</body>
</html>